/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  max-width: 700px;
  height: 100vh;
  margin: 0 auto;
  color: var(--theme-accent-color);
  font-family: var(--main-font-family), sans-serif;
  background: repeating-linear-gradient(
      90deg,
      var(--theme-gradient-color),
      var(--theme-gradient-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      180deg,
      var(--theme-gradient-color),
      var(--theme-gradient-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      180deg,
      var(--theme-gradient-from) 0.01%,
      var(--theme-gradient-to)
    );
  background-color: var(--background-color);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: var(--text-weight);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0 102px;
  border: 2px solid var(--theme-accent-color);
  padding: 136px 0 25px 0;
  font-family: var(--decor-font-famuly), fantasy;
  background-color: var(--background-color);
}

.header__title {
  margin-bottom: 20px;
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  text-transform: uppercase;
}

.header__text {
  margin-bottom: 25px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-left: 20px;
  font-size: 14px;
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* BUTTONS */

.button {
  position: relative;
  border: 2px solid var(--theme-accent-color);
  color: var(--theme-accent-color);
  font-family: var(--decor-font-famuly), fantasy;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--theme-accent-color);
  transition: 0.3s ease;
}

.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--theme-accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button:hover::after {
  transition: transform 0.5s ease-in-out;
  transform: scaleX(1);
  transform-origin: left;
}

.button__text {
  position: relative;
  z-index: 5;
  color: var(--button-change-text);
  font-family: var(--decor-font-famuly, fantasy);
  font-weight: 400;
  font-size: 14px;
  mix-blend-mode: difference;
}

.theme-menu__button {
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -15px;
  animation: arrow 0.5s ease-in-out infinite alternate;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 0;
  width: 100%;
  height: 2px;
  opacity: 0.6;
  background-color: var(--theme-accent-color);
  transform: scaleX(0);
}

.theme-menu__button:focus-visible::after {
  transition: transform 0.3s ease;
  transform: scaleX(1);
  transform-origin: left;
}

.card__icon-button {
  border: 2px solid transparent;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--theme-accent-color);
  outline: none;
}

.card__icon-button:focus {
  outline: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: 0.3s ease;
}

.theme-munu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
}

.card {
  border: 2px solid;
  background-color: var(--background-color);
}

.card__title {
  border-bottom: 2px solid var(--theme-accent-color);
  padding: 3px 24px 3px 10px;
  font-size: 18px;
  font-variation-settings: var(--title-weight);
}

.card__text {
  font-size: 18px;
  font-variation-settings: var(--text-weight);
}

.card__image-content {
  position: relative;
}

.card__image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 26px;
  border-top: 2px solid var(--theme-accent-color);
  padding: 25px;
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  font-family: var(--decor-font-famuly), fantasy;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: -1px 0 var(--background-color), 0 1px var(--background-color),
    1px 0 var(--background-color);
  mix-blend-mode: hard-light;
}

@supports (text-stroke: 1px var(--background-color)) or
  (-webkit-text-stroke: 1px var(--background-color)) {
  .image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
  }
}

.like-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 2px;
}

.heart__button {
  cursor: pointer;
}

.heart__button:focus {
  outline: none;
}

.heart__button:focus-visible {
  border: 2px solid var(--theme-accent-color);
  outline: none;
  transition: 0.3s ease;
}

.card__like-button {
  min-width: 130px;
}

.button__save {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
  padding: 18.5px 19px 18.5px 21px;
  background-color: var(--background-color);
}

.floppy {
  position: relative;
  z-index: 5;
  width: 21px;
  height: 21px;
  color: var(--button-change-text);
  mix-blend-mode: difference;
}

.floppy__text {
  max-width: 234px;
}

.sparks {
  opacity: 0;
}

dialog {
  gap: 30px;
  gap: 30px;
  border: 2px solid var(--theme-accent-color);
  padding: 30px;
  background-color: var(--background-color);
}

dialog[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

dialog[open] .floppy {
  width: 39px;
  height: 39px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 75%);
}

.modal-box {
  display: flex;
  gap: 20px;
  line-height: 150%;
  text-transform: uppercase;
}

.close__button {
  min-width: 293px;
  padding: 12.5px 0;
}

/* FILTER */

.img-blur {
  filter: blur(4px);
}

.img-brightness {
  filter: brightness(200%);
}

.img-contrast {
  filter: contrast(450%);
}

.img-grayscale {
  filter: grayscale(50%);
}

.img-hue-rotate {
  filter: hue-rotate(0.5turn);
}

.img-invert {
  filter: invert(100%);
}

.img-opacity {
  filter: opacity(40%);
}

.img-saturate {
  filter: saturate(390%);
}

/* MEDIA */

@media (max-width: 375px) {
  .page {
    min-width: 100%;
  }

  .header {
    width: 100%;
  }

  .header__title {
    font-size: clamp(2.6875rem, 0.5057rem + 10.9091vw, 3.0625rem);
  }

  .main {
    width: 100%;
  }

  .floppy {
    width: 28px;
    height: 28px;
  }
}
