/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --background-color: #fff;
  --text-weight: "wght" 400;
  --title-weight: "wght" 700;
  --theme-accent-color: #000;
  --background-image: url(../images/black-background.png);
  --theme-gradient-color: #d3d3d3;
  --theme-gradient-from: #e7e7e7;
  --theme-gradient-to: #1a1a1a;
  --button-change-text: var(--background-color);
  --heart-color: #ff0000;
}

:root.theme-dark {
  --background-color: #000;
  --text-weight: "wght" 465;
  --title-weight: "wght" 785;
  --theme-accent-color: #00cc14;
  --background-image: url(../images/black-background.png);
  --theme-gradient-color: var(--background-color);
  --theme-gradient-from: #007f0c;
  --theme-gradient-to: #004306;
  --button-change-text: var(--theme-accent-color);
  --heart-color: #ff0000;
}
